{
  "root": true, //根配置，每一个文件夹都可以配置eslintrc文件，依次向外找该文件，找到 "root": true,  则停止，我再最外层只配置了一个eslintrc文件，则所有的文件只依赖这一个文件的规则
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    },
    
  },
  "rules": {
    "no-multi-spaces": 2, //2代表error  运行报错，必须处理
    "no-debugger": 1, //1代表警告， 可忽略； 0 代表屏蔽该规则
    "eol-last": [ //写成中括号 可配置其他参数，具体参数可参考官网
      2,
      "never"
    ],
    "indent": [2,2], //举例缩进： 第一个2代表 运行错误， 第二个2 代表缩进2格   
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  
}